# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage
.nyc_output

# Production
build/
dist/

# Misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
hs_err_pid*.log
replay_pid*.log
status_log.txt
backend.log
ai-model.log

# Python
__pycache__/
*.pyc

# Local tooling cache
.m2user/

# Java/Spring
target/
*.class
.mvn/
*.iml
.idea/
.vscode/
